.invite-dialog {
    &.loading .MuiDialogContent-root {
        width: 250px;
        height: 250px;
        position: relative;
    }

    .invite-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .invite-code-display {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 64px;

        .code-text {
            font-family: "Courier New", Courier, monospace;
            position: absolute;
            top: calc(50% + 4px);
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }

        .copy-button {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
        }
    }
}
