.shared-item {
    display: block;
    position: relative;
    padding: 16px;

    .item-user {
        position: relative;

        .user-icon {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(0, -50%);
        }

        .user-content {
            position: relative;
            margin-left: 72px;
        }
    }
}

.share-btn {
    position: relative;

    .MuiButton-startIcon {
        transform: translate(-24px, 4px);
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -40%);
        font-weight: bold;
    }
}