.content-area {
    display: inline-block;
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 50;
    overflow-y: auto;
}

.root-nav {
    z-index: 100;
    position: relative;

    .user-icon {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(0, -50%);
    }
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
