.content-area {
    display: inline-block;
    height: calc(100% - 64px);
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 50;
    overflow-y: hidden;
}

.root-nav {
    z-index: 100;
    position: relative;

    .user-icon,
    .login-btn {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(0, -50%);
    }
    .user-info-loading {
        position: absolute;
        top: 16px;
        right: 0px;
    }

    .title,
    .title-icon {
        cursor: pointer;
    }

    .nav-buttons {
        position: relative;
        margin-left: 30px;
    }
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
