.expanded-item-dialog {
    display: inline-block;
    width: 100%;

    .expanded-card-title {
        font-size: 30px;
        display: block;
    }
    .expanded-card-subtitle {
        font-size: 16px;
        display: block;
        opacity: 0.6;
    }

    .MuiDialog-paper {
        width: 100%;
    }
    .modular-box {
        &.type-markdown {
            table {
                width: 100%;
                padding: 4px;
                border: 2px solid #ffffff22;
                * {
                    padding: 4px;
                }
                tr:nth-child(even) {
                    background-color: #ffffff22;
                }
                td {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }

            .markdown-render {
                font-size: 16px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                line-height: 22px;
            }
        }
        &.type-section {
            .section-header-icon {
                margin: 4px 8px 0px 4px;
                font-size: 20px;
            }
        }
        &.type-chip {
            margin: 4px;
            display: inline-block;
        }
        &.type-container {
            .container-icon {
                color: #ffffffdd;
            }
        }
        &.type-error {
            .error-card {
                border: 2px solid #bb4444;
                .render-spec-container {
                    padding: 8px;
                    font-family: "Courier New", Courier, monospace;
                    max-height: 60vh;
                    overflow-y: auto;

                    .json-tab {
                        display: inline-block;
                        width: 24px;
                    }
                }
            }
        }
    }
}
