.compendium-expanded-item {
    .title-area {
        box-sizing: border-box;
        position: relative;
        .subtitle {
            font-size: 16px;
            opacity: 0.7;
            font-weight: normal;
        }

        &.avatar {
            padding-left: 64px;

            .MuiAvatar-root {
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translate(0, -50%);
            }
        }
    }

    .render-item {
        &.child.card {
            width: 100%;
            display: inline-block;
        }
        &.child.chip {
            margin: 2px;
        }
        &.child.accordion {
            .MuiAccordionSummary-content {
            position: relative;

            .MuiTypography-root {
                position: absolute;
                top: 50%;
                left: 48px;
                transform: translate(0, -50%);
                font-size: 20px;
            }
        }
        }
    }
}
